body {
 background-color: #000;
 text-align:center;
  align-items: center;
  justify-content: center; 
}

body,
html {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}
.zdog-canvas {
  background: transparent;
  cursor: move;
}