@import "compass/css3";

html, body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #334D5C;
}

.cont{
  display: flex;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translate3d(0,0,0) rotateY(40deg);
}
.msg{
  color: #fff;
  transition: opacity .4s ease;
  font: {
    family: "Myriad Pro", "Trebuchet MS", sans-serif;
    size: 2em;
    weight: 200;
  }
}
.fold{
  background: rgba(255,255,255,.8);
  height: 150px;
  width: 20px;
  transform-origin: center top;
  animation: rotate-fold 4s infinite ease;
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i/20}s;
    }
  }
}

@keyframes rotate-fold{
  from{ transform: rotateX(0); }
  to{ transform: rotateX(360deg); }
}